Django>=5.2,<5.3
wagtail>=7.1,<7.2
wagtail-localize>=1.12

# Base de datos
psycopg2-binary>=2.9
dj-database-url>=2.1

# Archivos estáticos
whitenoise>=6.5

# Imágenes
Pillow>=10.0

# Servidor web
gunicorn>=21.0

# Otros
requests>=2.31
